.elemento1 {
    background-color: lightcoral;
}

.elemento2 {
    background-color: lightskyblue;
}

.elemento3 {
    background-color: lightgreen;
}

.square {
    width: 100px;
    height: 100px;
}